<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HJApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>32B49B501BE30CE400AB6D55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32B49B691BE30CE500AB6D55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>32B49B741BE30CE500AB6D55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
